<div class="row justify-content-center">
  <div class="col-md-10 m-auto">
    <div *ngIf="category">
      <div class="row align-items-center">
        <button type="submit" (click)="previousState()" class="btn mr-2 align-self-start"
          data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>
        </button>
        <h2 data-cy="categoryDetailsHeading">{{category.name}}</h2>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch" *ngFor="let post of posts">
          <jhi-post-item class="home-post" [post]=post></jhi-post-item>
        </div>
      </div>
    </div>

    <div *ngIf="posts && posts.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
          [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
