<div class="col-md-10 m-auto">
  <div class="row justify-content-center">
    <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
  </div>
  <div>
    <h2 class="display-5 mb-4" jhiTranslate="home.latest">Latest posts</h2>
    <div class="row px-2 d-flex align-items-stretch">
      <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch" *ngFor="let post of posts | async">
        <jhi-post-item class="w-100" [post]=post></jhi-post-item>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <h2 class="display-5" jhiTranslate="home.categories">Categories</h2>
    <div>
      <jhi-category-item *ngFor="let category of categories | async"
        [category]="category"></jhi-category-item>
    </div>
  </div>
</div>
