<div class="row justify-content-center">
  <div class="col-md-12 d-flex align-items-center flex-column" *ngIf="post">
    <button type="submit" (click)="previousState()" class="btn mr-2 align-self-start" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>
    </button>
    <h2 class="display-4 text-center my-4">{{post.title}}</h2>
    <div class="row align-self-stretch">
      <img class="mt-4" width="100%" height="400px" [src]="post.coverImageUrl">
    </div>
    <div class="post-detail-meta my-4 text-center">
      <span class="post-item-author" *ngIf="post.author">published by <i>{{post.author.login}}</i></span>
      <span class="post-item-category" *ngIf="post.category">in <i>{{post.category.name}}</i></span>
    </div>
    <div class="post-detail-content text-justify col-md-8" [innerText]="post.content"></div>
  </div>
</div>
